html {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/images/fond.jpg");
}

h1 {
    margin-left: 11px;
    font-size: 0.6em;
    margin-top: 0;
}

h2 {
    font-size: 2em;
    margin:0;
    padding-bottom: 10px;
}

h3 {
    font-size: 2em;
    margin:0;
    padding-bottom: 10px;
}

/* Compteur */

.compteur {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 40%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    background-color:rgba(8, 174, 234, 0.6);
    font-size: 2em;
}

.compteur img {
    border-radius: 50%;
    border: solid 1px white;
    background-color: rgb(179, 11, 179);
    padding: 20px;
    margin-top: 60px;
    width: 70px;
    height: 70px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.compteurIcon {
    display: flex;
    justify-content: space-around;
}

.nStudent {
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Link theme */

 .btn-link:link, .btn-link:visited, .btn-link:hover, .btn-link:active {
     color: black;
     text-decoration: none;
 }

 .btn-link {
     font-weight: bold;
     padding-left: 5px;
 }

 .btn-link-box:link, .btn-link-box:visited, .btn-link-box:hover, .btn-link-box:active {
   color: white;
   text-decoration: none;
}

.btn-link-box {
    font-weight: bold;
}

.promo-link-box:link, .promo-link-box:visited, .promo-link-box:hover, .promo-link-box:active, .promo-link-box {
    color: tomato;
    text-decoration: none;
}

/* Menu Header */

.menu {
    display: flex;
    border: solid 0px black;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    align-items: center;
    justify-content: left;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;     
}

.menu-box {
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align:middle;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.logoEnd {
    padding-right: 10px;
}

/* Promo */

.promo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 20px;
    text-align: center;
    background-color:rgba(8, 174, 234, 0.5);
    padding-top: 10px;
    border-radius: 50%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.select-promo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

#github_user {
    color: white;
}

.link-box-promo-detail {
    display: flex;
    align-items: center;
}

.promo-detail {
    display: flex;
    justify-content: center;
}

.list-promos ul {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 85vw;
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.list-promos li {
    height: fit-content;
    width: fit-content;
}

/* Students */

.students-list ul {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    list-style-type: none;

}

.students-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 15px;
    text-align: center;
    padding-top: 30px;
    border-radius: 20%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    background-color:rgba(8, 174, 234, 0.5);
}

.select-student-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 15px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.students-box-research {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 15px;
    text-align: center;
    padding-top: 30px;
    margin-top: 100px;
    border-radius: 20%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    background-color:rgba(8, 174, 234, 0.5);
    color: white;
    font-weight: bold;
}

.students-box img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding-bottom: 7px;
}

.students-box-research img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-bottom: 7px;
}


.students-list img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding-bottom: 7px;
}

.student-details {
    border: solid 5px black;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 20px;
    border-radius: 50px;
}

.student-details img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    
}

/* resarch */

.research-student-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: left;
    background-color:rgba(8, 174, 234, 0.5);
    padding-top: 10px;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

#profil_pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-bottom: 10px;
}

.link-box-student-detail {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.link-box-student-detail img {
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.list-promos-results ul {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    align-items: center;
    justify-content:center;
}

/* Search */

.search {
  width: 100%;
  position: relative;
  display: flex;
  box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
  -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
  -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.searchTerm {
  width: 100%;
  border: 3px solid #b400cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #b400cc;
  background: #b400cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Admin Panel */

.admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.adminPanel {
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 23%;
    min-height: 50vh;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    background-color:rgba(8, 174, 234, 0.6);
}

.adminPanel img {
    padding-top: 10px;
}

.adminWindowsTitle {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    font-weight: bold;
    color: #6c19ff;
}

/* Gestion etudiants admin panel */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.promoChoice {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}

.promoChoice img {
    height: fit-content;
    width: fit-content;
}

.adminIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 5px;
}

.selectPromo {
    height: 25px;
    width: 85%;
    border-radius: 10px;
    background-color: #ffffff;
}

.inputPromo {
    height: 25px;
    width: 85%;
    border-radius: 10px;
    border: solid 0.5px black;
}

.clearButton {
    background: none;
    border: solid 3px white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

#addStudentText {
    font-size: 1em;
    color: rgb(77, 25, 219);
    font-weight: bold;
    margin-bottom: 10px;
}

.divButton {
    margin-top: 153px;
}

/* Gestion admin admin */

.gestionAdm {
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    justify-content: center;
}

/* Login Panel */

.login {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 70vh;
}

.loginPanel {
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 15%;
    height: 30%;
    margin-top: 150px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    background-color:rgba(8, 174, 234, 0.6);
}

.inputUser {
    height: 20px;
    border-radius: 5px;
    border: solid 1px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputPassword {
    height: 20px;
    border-radius: 5px;
    border: solid 1px black;
    margin-bottom: 10px;
}

.clearButtonLogin {
    background: none;
    border: none;
}

.clearButtonLogin img{
    border: solid 2px white;
    border-radius: 50%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.loginWindowsTitle {
    width: 100%;
    background-color:rgba(255, 255, 255, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    font-weight: bold;
    color: #6c19ff;
    padding-top: 5px;
    padding-bottom: 5px;
}