html {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/images/fond.jpg");
}

 .btn-link:link {
     color: black;
     text-decoration: none;
 }

 .btn-link:visited {
    color: black;
    text-decoration: none;
}

.btn-link:hover {
    color: black;
    text-decoration: none;
}

.btn-link:active {
    color: black;
    text-decoration: none;
}

.btn-link {
    font-weight: bold;
}

.btn-link-box:link {
    color: white;
    text-decoration: none;
}

.btn-link-box:visited {
   color: white;
   text-decoration: none;
}

.btn-link-box:hover {
   color: white;
   text-decoration: none;
}

.btn-link-box:active {
   color: white;
   text-decoration: none;
}

.btn-link-box {
   font-weight: bold;
}

.promo-link-box:link {
    color: tomato;
    text-decoration: none;
}

.promo-link-box:visited {
   color: tomato;
   text-decoration: none;
}

.promo-link-box:hover {
   color: tomato;
   text-decoration: none;
}

.promo-link-box:active {
   color: tomato;
   text-decoration: none;
}

.promo-link-box {
   font-weight: bold;
}

.menu {
    display: flex;
    border: solid 0px black;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    align-items: center;
    justify-content: left;
}

.menu-box {
    display: flex;
    background-color: white;
    align-items: center;
    width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

.promo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    border-radius: 50%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.select-promo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.select-student-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

#github_user {
    color: white;
}

.link-box-promo-detail {
    display: flex;
    align-items: center;
}

.promo-detail {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align:middle;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

h1 {
    margin-left: 11px;
    font-size: 0.6em;
    margin-top: 0;
}

h2 {
    font-size: 2em;
    margin:0;
    padding-bottom: 10px;
}

h3 {
    font-size: 2em;
    margin:0;
    padding-bottom: 10px;
}

.list-promos ul {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 80vw;
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.list-promos li {
    height: fit-content;
    width: fit-content;
}

.students-list ul {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    list-style-type: none;
}

.students-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 150px;
    margin: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    border-radius: 20%;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
}

.students-box img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding-bottom: 7px;
}

.students-list img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding-bottom: 7px;
}

.student-details {
    border: solid 5px black;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 20px;
    border-radius: 50px;
}

.student-details img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 15px 31px -12px rgba(0,0,0,0.64);
    
}