<div class="menu">
    <div class="main-logo">
        <a class="btn-link" href="/">
            <img src="https://img.icons8.com/color-glass/96/000000/contacts.png"/>
            <h1>Trombino'clock</h1>
        </a>
    </div>
    <div class="menu-box">
        <div class="logo">
            <a href="/promos">
                <img src="https://img.icons8.com/color-glass/48/000000/home.png"/><a class="btn-link" href="/promos">Liste des promotions</a>
            </a>
        </div>
        <div class="logo">
            <a href="/search">
                <img src="https://img.icons8.com/color-glass/48/000000/flash-light.png"/><a class="btn-link" href="/search">Rechercher</a>
            </a>
        </div>
        <div class="logo">
            <a href="/contact">
                <img src="https://img.icons8.com/color-glass/48/000000/mailbox-closed-flag-down.png"/><a class="btn-link" href="/contact">Contact</a>
            </a>
        </div>
    </div>
    <div class="logoEnd">
        <a href="/admin">
            <img src="https://img.icons8.com/color-glass/48/000000/security-configuration.png"/><a class="btn-link" href="/admin"></a>
        </a>
    </div>
</div>