<%- include('partials/header') %>
    <div class="menu">
        <h1>Trombino'clock</h1>

    <button class="btn-grad"><a class="btn-link" href="/promos">Liste des promotions</a></button>
    </div>
    
<%- include('partials/footer') %>